@font-face {
    font-family:'Pitchsans-Semibold';
    src: url('./fonts/PitchSans-Semibold.ttf');
}
@font-face {
    font-family: 'GT Walsheim Pro Bold Regular';
    src: url('./fonts/GT Walsheim Pro Bold Regular.ttf')
}
@font-face {
    font-family: 'GTWalsheimPro-Light';
    src: url('./fonts/GTWalsheimPro-Light.ttf')
}
@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-Light.ttf')
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Thin.ttf')
}
@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Semibold.ttf')
}



*{
  scroll-behavior: smooth;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

*:focus {
  outline: none;
}
.dark.main-body {
  background: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(242, 242, 242) 50%) !important;
}
.dark {
  color: black !important;
}
.dark.socials,
.dark.scroll-up {
  filter: invert(0);
}
.dark.pText {
  color: #d00202 !important;
}
.dark.main-container p {
  color: black;
}
.dark.text {
  color: black;
}
.dark.form-btn::before {
  background-color: black;
}
.dark.form-btn span {
  color: white;
}
.dark.firstBtn {
  border: 1px solid black;
}
.dark.arrowBtn {
  filter: invert(0);
}
.dark.firstBtn:hover {
  background-color: black;
  color: white !important;
}
.dark.firstBtn:hover .arrowBtn {
  filter: invert(1);
}
.dark.firstScreen {
  background-color: white;
}

.swal2-popup {
  border-radius: 6px !important;
  width: 28em !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 70%) !important;
  font-family: 'GTWalsheimPro-Light', sans-serif !important;
  opacity: 90% !important;
  -webkit-appearance: none;
}
.swal2-styled.swal2-confirm {
  border-radius: 10% !important;
  font-family: 'GTWalsheimPro-Light', sans-serif;
  background-color: black !important;
}
.swal2-styled.swal2-confirm:focus,
.swal2-styled.swal2-confirm:hover {
  box-shadow: unset;
}

.firstScreen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 98;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  font-family: 'Libre Franklin';
  gap: 10px;
  color: white;

}
.highlight {
  color: #d00202;
}
.firstBtn {
  padding: 10px 18px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.arrowBtn {
  height: 20px;
  filter: invert(1);
  transform: rotate(90deg);
  filter: invert(1);

}
.firstBtn:hover .arrowBtn {
  transform: rotate(180deg);
  transition: transform 0.4s;
  filter: invert(0);
}
.firstBtn:hover {
  background-color: white;
  color: black;
}

.darkmodeImg {
  height: 32px;
  filter: invert(1);
}
.dark.darkmodeImg {
  filter: invert(0);
}
.darkmodeImg:hover {
  cursor: pointer;
}


.main-body {
    display: grid;
    margin: 0;
    /*background: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(242, 242, 242) 50%);*/
    width: 100%;
    background-color: #000;
}

.header {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.containerNav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 10px 10px 0px 10px;
}
.logoText {
  font-family: "GTWalsheimPro-Light";
  color: white;
  margin: 0;
  font-size: 40px;
  height: 70px;
}
.containerNav nav {
    display: flex;
    gap: 40px;
    padding-right: 55px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  color: white;
  font-weight: 600;
  font-family: "GTWalsheimPro-Light", sans-serif;
  align-items: center;
}

.picture-header {
    display: flex;
    padding-left: 20px;
}

.picture-header img {
    width: 60px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.containerNav nav a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 20px;
}

.main-section {
    box-sizing: border-box;
    min-height: 800px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.main-section,
#projectsection,
.contact-section {
  padding-top: 100px;
  min-height: 90vh;
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}

.main-container {
    display: flex;
    height: 90%;
    width: 85%;
    padding-top: 150px;
    justify-content: flex-start;
    min-inline-size: min-content;
    white-space: pre;
    flex-direction: column;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
}
#mytitle {
    font-family: 'GT Walsheim Pro Bold Regular';
    font-size: 14px;
    max-width: 900px;   
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    color: white;
   
}

.aboutMe {
  font-size: 70px;
  color: white;
  font-family: 'Poppins';
}

.main-container p {
    font-size: 26px;
    margin-top: 0px;
    line-height: 50px;
    font-family: 'Poppins';
    font-weight: bolder;
    color: white;
    margin-left: auto;
}

.img {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    display: none;
}

.title2 {
    font-family: 'GT Walsheim Pro Bold Regular';
    font-size: 14px;
    padding-bottom: 70px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    color: white;
}


.project-container {
    display: flex;
    height: 80%;
    width: 90%;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-around;
}



.text {
    font-size: 70px;
    align-self: center !important;
    font-family: 'Graphik';
    color: white;
}
.text:hover {
  transform: translateX(30px);
  transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
  cursor: pointer;
}
.pText {
  color: #d00202;
  font-size: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: auto;
}

.img2 {
    height: 150px;
    width: 150px;
}


.form-container {
        width: 400px;  
        min-height: 550px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;      
        padding: 15px;
        padding-right: 20px;
      
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    min-width: 100%;
    padding-right: 20px;
  }

.form-title {
    font-family: 'GT Walsheim Pro Bold Regular';
    font-size: 16px;
    color: #000000;
    padding-left: 70px;
    padding-bottom: 150px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    color: white;
  }

.contact-input {
    width: 100%;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }

  .input100 {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    font-family: "GTWalsheimPro-Light";
    font-size: 18px;
    color: black;
    line-height: 1.2;
    box-shadow: 0 0 10px rgb(0 0 0 / 75%);
    -webkit-appearance: none;
  }

  input.input100 {
    height: 62px;
    padding-left: 20px;
  }
  
  
textarea.input100 {
    min-height: 169px;
    padding: 20px 0 0 20px;
    min-width: 346px;
    max-width: 346px;
  }

  .focus-input {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #fff;
    pointer-events: none;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input:focus + .focus-input{
    width: calc(100% + 20px);
  }
  
/*BUTTON */
  .container-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-left: 20px;
  }

.form-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 150px;
        height: 62px;
        background-color: transparent;
        border-radius: 31px;
      
        font-family: 'GT Walsheim Pro Bold Regular';
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
      
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        position: relative;
        z-index: 1;
  }
  .form-btn span {
    color: black;
  }
  .form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: #ffffff;
    pointer-events: none;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .form-btn:hover:before,
  .form-btn:focus::before {
    background-color: #403866;
    width: calc(100% + 20px);
  }
  
  

  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 1000;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
  
    font-family: 'GT Walsheim Pro Bold Regular';
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: 'GT Walsheim Pro Bold Regular';
    display: block;
    position: absolute;
    z-index: 1100;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }

  .burger-menu  {
    display: none;
    visibility: hidden;
  }
  

  .btn-container {
    display: flex;
    position: sticky;
    padding-bottom: 34px;
    padding-left: 25px;
  }
  #coffee-btn {
    padding-bottom: 20px;
    padding-left: 20px;
  }
  a.kofi-button {
    padding: 3px 6px;
    min-width: 160px !important;
    font-size: 14px;
  }
  span.kofitext {
    padding: 4px 5px
  }
  .kofi-button:hover,
  .kofi-button:focus {
    background-color: #8f8fa1 !important;
  }
  


  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    background-color: rgb(244, 250, 250)  ;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 10px rgb(0 0 0 / 90%);

  }

  input {
    outline: none;
    border: none;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
      -webkit-appearance: none;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  iframe {
    border: none !important;
  }

.m-r-6 {
    margin-right: 6px;
}    

.scroll-up {
  position: fixed;
  right: 1.5%;
  bottom: 3%;
  cursor: pointer;
  visibility: hidden;
  filter: invert(1);

}

.up-arrow {
  width: 2rem;
  height: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1%;
  bottom: 7%;
  align-items: center;
  filter: invert(1);
}

.socicon {
  width: 1.7rem;
  height: 1.7rem;
}
.line {
  height: 60px;
  position: fixed;
  left: 1%;
  width: 27px;
}



.containerNav nav a:hover,
.containerNav nav a:focus  {
  color: #8f8fa1;
  transform: scale(1.2);
}

.myproject:hover {
  transform: scale(1.3);
}

.socials a:focus,
.socials img:hover {
  transform: translateY(-2px);
  transition: transform .3s ease-in-out;
}

.picture-header a:focus,
.picture-header img:hover {
  transform: scale(1.1);
}


.img:hover,
.project-container a:focus {
  transform: scale(1.1);
}

.up-arrow:hover,
#scoll-up i:focus {
  transform: translateY(-5px);
  transition: transform .3s ease-in-out;
}


.xbutton {
  display: none;
}



.loader {
  position: absolute;
  z-index: 1;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}
.dark.loader {
  border: 1px solid #ffffff;
  border-top: 2px solid #000000;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-text {
    position: fixed;
    font-size: 40px;
    font-family: 'GTWalsheimPro-Light';
    color: white;
}
.dark.loader-text {
  color: black;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 150;
}
.dark.loader-wrapper {
  background-color: white;
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1.2s
}

@-webkit-keyframes animatebottom {
  from { bottom:0px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom: 0px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


.main-body {
  display: none;
}

















/*==================

Media content below max 550px

====================*/












@media screen and (max-width: 550px) {
  html {
    height: 100%;
  }
  .swal2-popup  {
    border-radius: 6% !important; 
    width: 70% !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 70%) !important;
    font-family: 'GTWalsheimPro-Light', sans-serif !important;
    font-size: 0.9rem !important;
  }

  .firstScreen {
    font-size: 18px;
  }
  .firstBtn {
    font-size: 14px;
  }
  .logoText {
    position: fixed;
    top: 1%;
    left: 4%;
    z-index: 100;
    font-size: 35px;
  }



  .main-body {
    overflow-x: hidden;
    background-attachment: fixed;
  }
  
  .containerNav {
    justify-content: space-between;
    gap: 27px;
  }
  .picture-header {
    padding-left: 10px;
  }

  .containerNav nav {
    padding-right: 0;
    gap: 20px;
  }
  .containerNav nav a {
    font-size: 18px;
  }
  .burger-menu {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 98;
    filter: invert(1);
  }
  .dark.burger-menu {
    filter: invert(0);
  }
  /* main container below */
  .main-section {
    min-height: 600px;
    padding-top: 80px;
  }
  .main-container {
    justify-content: unset;
    white-space: unset;
    padding-top: 20px;
  }
  
  .main-container h1 {
    font-size: 30px;
    line-height: 50px;
    padding-top: 70px;
    min-width: 100% !important;
    padding-left: unset;
  }
  

  .main-container p {
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
  }

  /*
  ===================== 
    my projects below 
  =====================*/

 
 .project-container {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  #projectsection {
    min-height: 800px;
    height: unset;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .text {
    font-size: 30px;
  }
  

/*=====================  
  contact section below 
  ======================*/
.contact-section {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: unset;
}
.form-title {
  font-size: 14px;
}
.contact-container {
   width: 200px;
   display: flex;
   justify-content: center;
}

.contact-input {
  width: 200px;
}
textarea.input100 {
  min-width: 200px;
  max-width: 200px;
}
.container-btn {
  padding-left: 0;
}

.form-btn {
  min-width: 110px;
  height: 45px;
}
.container-btn {
  padding-top: 0;
}

/*=============== 
  social below 
  ===============*/


.socicon {
  width: 2rem;
  height: 2rem;
}
.up-arrow {
  padding: 2px;
  width: 2rem;
  height: 2rem;
}
.socials {
  right: unset;
  justify-self: center;
  bottom: 3%;
  gap: 20px;
  flex-direction: row;
  position: sticky;
}

.scroll-up {
  right: 3%;
}
.line {
  display: none
}

nav ul {
  list-style-type: none ;
  position: fixed;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  top: 0px;
  height: 100%;
  left: 0%;
  width: 100%;
  text-align: center;
  transform: translateX(120%);
  transition: .6s ease-in-out;
  -webkit-overflow-scrolling: touch;
  padding-left: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-right: unset;
  z-index: 99;
  gap: 10px;
  margin-top: 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 90%);
  font-family: "GTWalsheimPro-Light";
}
.dark nav ul {
  background-color: white;
}
 nav ul li {
  margin: 10px;
  
}
nav a {
  margin: 10px;
  font-size: 35px !important;
  text-shadow: 0px 1px #000;
}

.xbutton {
  position: fixed;
  right: 4%;
  top: 2%;
  width: 35px;
  height: 30px;
  display: unset;
  filter: invert(1);
}
.dark.xbutton {
  filter: invert(0);
}
.burger-menu {
  display: block;
  visibility: visible;
}

.burger-menu > img {
  width: 50px;
  height: 50px;
}
nav ul.show {
  transform: translateX(0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 3%;
  position: sticky;
  gap: 40px;
}

.btn-container {
  display: flex;
  position: sticky;
  padding-bottom: unset;
  padding-left: unset;
}
#coffee-btn {
  padding-bottom: 20px;
  padding-left: 20px;
}
a.kofi-button {
  min-width: 100px !important;
  padding: 0px 10px !important;
  font-size: 13px !important;
}


.containerNav nav a:hover,
.containerNav nav a:focus  {
  color: #8f8fa1;
  text-decoration: none;
}

.socials a:focus,
.socials img:hover {
  transform: scale(1);
}



} 



/*======================

  MEDIA SCREEN 550px - 980px BELOW

  =======================*/




@media screen and (min-width: 550px) and (max-width: 1024px) {
  html {
    height: 100%;
  }
  
  .main-body {
    overflow-x: hidden;
    background-image: url("/styles/mobilebcg.jpg");
    background-size: cover;
  }
  
  .containerNav {
    justify-content: space-between;
    gap: 27px;
    margin-bottom: 50px;
  }
  .picture-header {
    padding-top: 18px;
    padding-left: 8px;
  }
  .picture-header img {
    width: 50px;
  }
  .containerNav nav {
    padding-right: 0;
    gap: 20px;
  }
  .containerNav nav a {
    font-size: 18px;
  }

  nav ul {
    top: 45px !important;
    left: 70% !important;
    width: 28% !important;
  }
  
  /* main container below */
  .main-section {
    min-height: 500px;
    padding-top: unset;
  }
  .main-container {
    justify-content: unset;
    white-space: unset;
  }
  
  .main-container h1 {
    font-size: 44px;
    line-height: 50px;
    padding-top: 45px;
    min-width: 100% !important;
    white-space: unset;
    padding-left: unset;
    padding-bottom: 1em;
  }

  #mytitle {
    white-space: unset;
    min-inline-size: min-content;
    max-inline-size: min-content;
   
  }
  .main-container p {
    padding-left: 0;
    font-size: 25px;
    line-height: 30px;
  }

  /* my projects below */

  .title2 h1 {
    font-size: 40px;
    margin-bottom: revert;
  }
 .project-container {
    flex-wrap: wrap;
    padding-bottom: 50px;
    height: unset;
    min-height: 600px;
  }
  #projectsection {
    min-height: 600px;
    height: unset;
  }
  .img {
    width: 120px;
    height: 120px;
  }

  

/*contact section below */
.contact-section {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: unset;
}
.form-title {
  font-size: 40px;
}
.contact-container {
   width: 200px;
   display: flex;
   justify-content: center;
}

.contact-input {
  width: 200px;
}
textarea.input100 {
  min-width: 200px;
  max-width: 200px;
}
.container-btn {
  padding-left: 0;
}

.form-btn {
  min-width: 110px;
  height: 45px;
}
.container-btn {
  padding-top: 0;
}

/* social below */
.socicon {
  width: 2rem;
  height: 2rem;
}
.up-arrow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 2px;
  width: 2.2rem;
  height: 2.2rem;
}
.socials {
  right: unset;
  justify-self: center;
  bottom: 3%;
  gap: 20px;
  flex-direction: row;
  position: sticky;
}

.scroll-up {
  right: 4%;
}


nav ul  {
  list-style-type: none ;
  position: fixed;
  background-color: white;
  flex-direction: column;
  top: 0px !important;
  height: 100%;
  left: 0% !important;
  width: 100% !important;
  text-align: center;
  transform: translateY(-120%);
  transition: transform 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-overflow-scrolling: touch;
  padding-left: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  opacity: 0.97;
  padding-right: unset;
  z-index: 3;
  gap: 40px;
  margin-top: 0 !important;
}
 nav ul li {
  margin: 10px;
  
}
nav a {
  margin: 10px;
  font-size: 48px !important;
  text-shadow: 0px 1px #000;
}

.xbutton {
  position: fixed;
  right: 5%;
  top: 3%;
  width: 35px;
  height: auto;
  display: unset;
}


.burger-menu {
  display: block;
  visibility: visible;
}
.burger-menu > img {
  width: 50px;
  height: 50px;
}
nav ul.show {
  transform: translateX(0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 3%;
  position: sticky;
  gap: 40px;
}

.btn-container {
  display: flex;
  position: sticky;
  padding-bottom: unset;
  padding-left: unset;
}
#coffee-btn {
  padding-bottom: 20px;
  padding-left: 20px;
}
a.kofi-button {
  min-width: 100px !important;
  padding: 0px 10px !important;
  font-size: 13px !important;
}

.containerNav nav a:hover,
.containerNav nav a:focus  {
  color: #8f8fa1;
  text-decoration: none;
  font-size: 18px;
}



}








/* =======================

    MEDIA CONTENT BELOW MIN 2500px

    ======================*/


@media screen and (min-width: 2560px) {
/* nav bar */
  .nav-bar a {
    font-size: 36px !important;
  }

/* main container */
  .main-container {
    min-height: 1000px;
  }
  .main-section {
    padding-top: 200px;
  }
  .main-container h1 {
    font-size: 90px;
    padding-bottom: 1em;
  }
  .main-container p {
    font-size: 48px ;
  }
/* myproject section */
  #projectsection {
    min-height: 1100px !important;
    height: unset;
  }
  .project-container {
    min-height: 1100px;
   
  }
  .title2 h1 {
    font-size: 74px;
  }
  .img {
    height: 300px;
    width: 300px;
  }
  .text {
    font-size: 34px;
    width: 300px;
  }
  /* contact section below */
  #contactsection {
    min-height: 1100px !important;
  }
  .form-title {
    font-size: 74px;
    padding-top: 50px;
  }
  .form-container {
    width: 700px;
    min-height: 700px;
  }
  .contact-form {
    min-width: 100%;
  }
  .input100 {
    font-size: 30px;
  }
  textarea.input100 {
    min-height: 200px;
    min-width: 700px;
    max-width: 700px;
  }
  .form-btn {
    font-size: 28px;
    padding: 0 25px
  }
  .a.kofi-button {
    font-size: 44px;
  }
  /* soc-icons*/
  .socicon {
    width: 4rem;
    height: 4rem;
  }

}


@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
 
}
